<div class="container mt-5">

  <h1>更新餐廳資訊</h1>

  <form action="/restaurants/{{ restaurant._id }}/edit" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">店家名稱</label>
      <input type="text" class="form-control" id="name" name="name" value="{{ restaurant.name }}">
    </div>

    <div class="mb-3">
      <label for="name_en" class="form-label">店家名稱（英文）</label>
      <input type="text" class="form-control" id="name_en" name="name_en" value="{{ restaurant.name_en }}">
    </div>

    <div class="mb-3">
      <label for="category" class="form-label">店家類別</label>
      <input type="text" class="form-control" id="category" name="category" value="{{ restaurant.category }}" placeholder="居酒屋、酒吧、美式餐廳......">
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">參考圖片</label>
      <input type="text" class="form-control" id="image" name="image" value="{{ restaurant.image }}" placeholder="URL">
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">地址</label>
      <input type="text" class="form-control" id="location" name="location" value="{{ restaurant.location }}" placeholder="新北市板橋區三民路二段19號">
    </div>

    <div class="mb-3">
      <label for="phone" class="form-label">電話</label>
      <input type="text" class="form-control" id="phone" name="phone" value="{{ restaurant.phone }}" placeholder="02-2955-1219">
    </div>

    <div class="mb-3">
      <label for="google_map" class="form-label">google map</label>
      <input type="text" class="form-control" id="google_map" name="google_map" value="{{ restaurant.google_map }}" placeholder="URL">
    </div>

    <div class="mb-3">
      <label for="rating" class="form-label">評分</label>
      <input type="number" class="form-control" id="rating" name="rating" value="{{ restaurant.rating }}" placeholder="4.9">
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">介紹</label>
      <input type="text" class="form-control" id="description" name="description" value="{{ restaurant.description }}" placeholder="請輸入......">
    </div>

    <button id="submit-btn" type="submit" class="btn btn-primary">Save</button>


  </form>

</div>